body {
  background-color: #f1e8dc;
  font-family: "Lato", sans-serif !important;
}
* {
  box-sizing: border-box;
}

.App {
  margin: auto;
  width: 450px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

label {
  display: inline-block;
  margin: 15px 0 5px 0;
}

label + span {
  font-size: smaller;
  display: block;
}

input {
  padding: 10px;
  width: 100%;
  border: 1px solid #f1e8dc;
  display: block;
  box-shadow: 1px 1px 2px;
  font-size: medium;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Lato", sans-serif !important;
}
.title {
  margin: 20px 20px 20px 0;
}

.inc-exp-container {
  display: flex;
  margin: 20px 0;
  padding: 15px;
  background-color: aliceblue;
  justify-content: space-between;
  box-shadow: 0 1px 2px;
}
.inc-exp-container > div {
  flex: 1;
  text-align: center;
}
.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 35px 0;
}

.list li {
  background-color: #fff;

  justify-content: space-between;
  display: flex;
  box-shadow: 1px 1px 0px 1px;
  padding: 5px;
}

.form-control {
  margin-top: 10px;
}

.btn {
  cursor: pointer;
  margin: 15px 0;
  padding: 10px;
  color: white;
  background-color: #1e568a;
  width: 100%;
  font-family: monospace;
  font-size: x-large;
  text-transform: uppercase;
  border: none;
}

.btn:hover {
  background-color: #2494ff;
}

.amount {
  font-weight: 200;
  font-size: larger;
  margin: 5px 0;
}

.positive {
  color: #2494ff;
}

.negative {
  color: #ff5959;
}
